@{
    ViewData["Title"] = "Welcome";
}

<form action="process" method="post" class="welcome">
    <h1>Welcome!</h1>
    <h3>Please give your name:</h3>
    <input name=name>
    <br>
    <button>Submit</button>
</form>
