body {
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome > * {
  padding: 5px 10px;
} 

.welcome button {
  background-color: rgb(182, 215, 168);
  box-shadow: 5px 5px black;
}