<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/results_styles.css">
    <title>List</title>
</head>
<body>
    <div class="main">
        @{
        <h1>Submitted Info</h1>
        <div class="d-flex">
            <span>Name:</span>
            <span>@ViewBag.Name</span>
        </div>
        <div class="d-flex">
            <span>Dojo Location:</span>
            <span>@ViewBag.Location</span>
        </div>
        <div class="d-flex">
            <span>Favorite Language:</span>
            <span>@ViewBag.FavoriteLanguage</span>
        </div>
        <div class="flex-col">
            <span>Comment (Optional):</span>
            @{
                if (ViewBag.Comment != null)
                {
                    <span>@ViewBag.Comment</span>
                }
                else
                {
                    <span>No Comment</span>
                }
            }
        </div>
        }
        <a href="/">
            <button>Go Back</button>
        </a>
    </div>        
</body>
</html>